body {
	box-sizing: border-box;
}

.game {
	background-color: #F5F5DC;
	width: 1050px;
	height: 250px;
	float: left;
  border-style: solid;
  border-color: #873D0B;
}

.tower {
	background-color: #F5F5DC;
	width: 350px;
	height: 250px;
	float: left;
}

.block {
	opacity: 0.0;
  width: 50px;
  height: 50px;
	float: left;
}

.block-full {
	background-color: red;
  width: 50px;
  height: 50px;
	float: left;
}

.block-highlight {
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
  width: 50px;
  height: 50px;
	float: left;
}

.instructions {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
	font-size: 20pt;
}

.marquee {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
	font-size: 40pt;
}